.card {
    padding: 15px 20px;
	border-radius: 6px;
	box-shadow: $main-box-shadow;
	margin: 20px 0;

	&__title {
		display: flex;
		align-items: center;
		color: $color-orange;
	}
  }

  .card-small {
	padding: 14px;
	border-radius: 6px;
	background-color: #f0f7fe;
	text-align: center;

	&--1 {
		background-color: #fcfbec;
	} 
}