.form-select {
  // background-color: $color-light-grey-2;
  border: 1px solid #e2e2e2;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url(../img/icon/arrow-down.svg);
  background-repeat: no-repeat;
  border-radius: 6px;

  @if $direction == rtl {
    background-position: 5%;
  } @else {
    background-position: 95%;
  }

  &:focus {
    border-color: inherit;
    box-shadow: none;
  }
}

.form-input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 6px!important;

  &:focus {
    border-color: inherit;
    box-shadow: none;
  }

  &::placeholder {
    color: #cfcfcf;
  }
}

.form-file {
  color: $text-color;
  font-size: rem(12);
  position: relative;
  margin-bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;

  &::after {
    content: "اختر الملف";
    border: 1px solid #d8dae5;
    border-radius: 6px;
    position: absolute;
    #{$right}: 0;
    top: 0;
    height: 100%;
    padding: 6px 18px;
    display: flex;
    align-items: center;
  }
}

.form-date {
  
  input {
    text-align: #{$left}!important;
  }

  .icon {
    position: relative;
    right: -25px;
    top: 10px;
  }
}

.table-condensed {
  width: 100%;
}

label {
  margin-bottom: 8px;
  color: #474d66;
  font-size: rem(14);
  display: block;
}

.form-input-search {
  position: relative;
  width: 100%;
  margin-#{$right}: 30px;

  &::before {
    @include addIcon($icon-search, 20px);

    width: 42px;
    height: 42px;
    // background-color: $primary-color;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    #{$right}: 0;
    top: 0;
    z-index: 99;
    cursor: pointer;
    border: 1px solid transparent;
    color: $primary-color;
  }
  &::placeholder {
    color: #cfcfcf;
  }
}

.form-inline-group {
  display: flex;
  align-items: center;

  label {
    margin: 0 10px;
  }
}


// customize select2
.select2-container--default .select2-selection--multiple {
  min-height: 36px!important;
}

.select2-container--default .select2-selection--single {
  height: 36px;
  border:1px solid #e2e2e2;

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 20px;
  width: 20px;
  top: 9px;
  left: 6px;
  background-color: #f4f6fa;
  border-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: rem(14);
} 

.select2-container {
  width: 100%;
}