.utl-modal {
  background-color: $color-white;
  border-top-#{$right}-radius: 100px;
  border-bottom-#{$right}-radius: 100px;
  width: 60%;
  padding: 100px 0;

  @include media-breakpoint-down(sm) {
    width: 100%;
    border-radius: 0;
  }
}

.utl-modal-primary {
  background-color: $color-white;
  padding: 60px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

  .icon {
    width: 42px;
    height: 42px;
    margin: 0 auto;
    border-radius: 50%;
    // background: $main-bg-gradient;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(18);
    &::before {
      color: $color-white;
    }
  }

  &__title {
    font-size: rem(16);
    margin: 20px 0;
  }

  @include media-breakpoint-down(md){
    width: 90%;
   }
}


.modal {
  &-header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close {
      margin: 0;
      padding: 0;
    }
  }

  &-title {
    font-size: rem(18);
  }

  &-body {
    background-color: $color-grey-light;
    padding: 40px 20px;
  }

  &-footer {
    padding: 10px;

    @include media-breakpoint-down(sm){
      flex-direction: column;
      .btn {
        width: 100%;
        margin-left: 0!important;
        margin-right: 0!important;
        margin-bottom: 15px;
      }
    }
  }
}


//////////////////////////////////
.confirm-action__form {
  &__input {
    height: 50px;
    position: relative;
  }

  &__icon {
    position: absolute;
    #{$right}: 20px;
    top: 19px;
    cursor: pointer;

    &::before {
      color: $color-light-grey;
    }
  }
}