.pagination-items {
  justify-content: flex-end;
  margin: 30px 0;

  .page-item {
    margin: 0 5px;
  }

  .page-link {
    padding: 0;
    width: 42px;
    height: 42px;
    border-radius: 6px !important;
    border-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $text-color;

    &.active {
      color: $color-blue;
      background-color: #ecf0ff;
    }

    &:hover {
      color: $color-blue;
      background-color: #ecf0ff;
    }
  }
}

@media screen and (max-width: 900px) {
  .pagination-items {
    .page-link {
      width: 40px;
      height: 40px;
    }
  }
}
