.complaints {
    &__items {
        margin-bottom: 20px;
    }


    &__item {
        padding: 11px 20px;
        border-bottom: 1px solid #c1c7d0;
        display: flex;
        align-items: center;

        &__label {
           width: 25%;
            color: $text-color;
        }

        &__value {

        }

        &:nth-child(odd){
            background-color: $color-grey-light;
        }
    }
}