.dashboard {
  &__break {
    position: relative;
    &__image {
      content: "";
      #{$right}: 0;
      bottom: 0;
      position: absolute;
    }
  }

  &__open-tickets {
    & > div {
      background-color: #f0f7fe !important;
    }
  }

  &__complaint-source {
    & > div {
      &:nth-child(1) {
        background-color: #e8fcf2;
      }

      &:nth-child(2) {
        background-color: #f0f7fe;
      }

      &:nth-child(3) {
        background-color: #fffbe5;
      }
    }
  }

  &__charts {
    margin-top: 40px;
    &__item {
      padding-top: 24px;
      padding-bottom: 100px;
      background-color: #f9f9f9;
      border-radius: 20px;
      height: 100%;
      position: relative;
      // margin-bottom: 15px;

      &__title {
        font-size: rem(14);
        color: $text-color;
       padding: 0 20px;
      }

      &__value {
        font-size: rem(30);
        font-weight: bold;
       padding: 0 20px;
      }

      &__image {
        width: 90%;
        position: absolute;
        bottom: 0;
      }

      @include media-breakpoint-down(sm){
        padding-bottom: 50px;
        &__image {
          width: 100%;
        }
      }
    }
  }
}
