@import "./variables";

// CONTAINER
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  //   xxl: 1650px
);

// BREAKPOINTS
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  //   xxl: 1500px
);

// BUTTONS
$btn-padding-y: 11px;
$btn-padding-x: 23px;
$btn-font-size: 16px;
$btn-font-weight: bold;

$btn-padding-y-lg: 8px;
$btn-padding-x-lg: 60px;
$btn-border-radius: 6px;
$btn-border-radius-lg: 6px;
$btn-border-radius-sm: 6px;
$primary: #27ae60;
$secondary: #4094f7;
$dark: #e8e9ea;
$danger: #ff5230;

//FONT FAMILY
$font-family-base: $font-regular !important;

// FORM
$form-group-margin-bottom: 30px;
$input-height: 36px;

// CARD
$card-border-width: 0;
$card-border-color: transparent;

.card {
  box-shadow: $main-box-shadow;
}

// Modal
$modal-xl: 650px;
$modal-lg: 650px;
$modal-md: 650px;

// table
$table-accent-bg: #f6f8f9;

// DROP DOWN
$dropdown-spacer: 1rem;
$dropdown-min-width: 15rem;
$card-border-radius: 10px;

@import "../../../node_modules/bootstrap/scss/bootstrap";
