.utl-icon-wrapper {
  display: inline-block;
  margin-inline-end: 10px;
  vertical-align: middle;
}

.utl-show-more {
  font-size: rem(14);
  color: $text-color;
  text-align: #{$right};
}

.utl-primary-hover {
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
}

.error {
  color: $color-red;
}

.color-blue {
  color: $color-blue;
}

%status {
  padding: 4px 26px;
  border: 1px solid #000;
  border-radius: 6px;
  font-weight: normal;
  font-size: rem(12);
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.utl-status {
  &--open {
    @extend %status;

    background-color: #feebec;
    color: #f03738;
    border-color: #f03738;
  }

  &--pending {
    @extend %status;

    background-color: #fef9e9;
    color: #f3bb1c;
    border-color: #f3bb1c;
  }

  &--fixed {
    @extend %status;

    color: $color-green;
    border-color: $color-green;
  }

  &--working {
    @extend %status;

    color: $color-blue;
    border-color: $color-blue;
  }
}

.utl-link {
  font-size: rem(12);
  color: $color-blue;
  font-weight: normal;
}

.no-data-found {
  font-size: rem(14);
  color: $text-color;
  text-align: center;
  background-color: $color-grey-light;
  padding: 12px 15px;
  border-radius: 6px;
}

.icon-svg {
  width: 20px;
}

.utl-action-buttons {
  @include media-breakpoint-down(sm) {
    & > button {
      width: 100%;
      margin: 0 !important;
      margin-bottom: 15px !important;
    }
  }
}

.utl-text-bold {
  font-weight: bold;
}
