// COLORS
$primary-color: #257250;
$secondary-color: #0C4258;
$color-grey: #595D5E;
$color-white: #fff;
$color-dark: #202324;

$main-box-shadow: 5px 10px 30px rgb(28 27 25 / 5%);

$arrow-width: 120px;

// FONTS
$font-regular: Cairo;
$font-bold: Cairo-bold;
$font-extra-bold: Cairo-extra-bold;
$font-light: Cairo-light;
