// COLORS
$primary-color: #257250;
$secondary-color: #0C4258;
$color-grey: #595D5E;
$color-grey-light: #f6f8f9;
$color-light-grey: #c1c7d0;
$color-white: #fff;
$color-dark: #474d66;
$color-dark-1: #6e7c87;
$color-black: #000;
$color-orange: #f2994a;
$color-blue: #0e73f6;
$color-red: #f03738;
$color-green: #27ae60;
$border-color: #e5e9eb;
$text-color: rgba(0, 0, 0, 0.5);

$main-box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.06);

$arrow-width: 120px;

// FONTS
$font-regular: Cairo;
$font-bold: Cairo-bold;
$font-extra-bold: Cairo-extra-bold;
$font-light: Cairo-light;
