aside {
  height: 100%;
  background-color: $color-grey-light;

  .side-menu {
    height: 56px;
    border-bottom: 1px solid $border-color;

    &__logo {
      width: 120px;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
    }

    &__nav {
      padding: 0 16px;
      margin-top: 25px;

      &__item {
        margin-bottom: 8px;
        padding: 0 8px;
        font-size: rem(14);

        &:hover,
        &--active {
          background-color: #d7edff;
          border-radius: 6px;
          color: $color-blue;

          .icon::before {
            color: currentColor;
          }

          * > li {
            color: #000;
            background-color: transparent !important;
          }
        }

        &__sub-menu {
          margin-top: 8px;
          padding-inline-start: 30px;
          display: none;
          &__item {
            font-size: rem(12);
            // background-color: red;

            &:hover {
              color: $color-blue !important;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0!important;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: block!important;
}

#sideMenu{
  @include media-breakpoint-down(lg) {
    & {
      display: none;
      right: 0!important;
    }
  }
}

#openSideMenu {
    @include media-breakpoint-down(lg) {
        & {
          right: 20px!important;
        }
      }
}

#dashboardContainer {
    @include media-breakpoint-down(lg) {
        & {
          max-width: 100%;
          flex-basis: 100%;
          
        }
      }  
}

#menu-close-button {
    display: none;
    font-size: rem(18);
    color: $text-color;
  
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }