@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?do2wkp');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?do2wkp#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?do2wkp') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?do2wkp') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?do2wkp##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-solid-circle {
  &:before {
    content: $icon-user-solid-circle; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;     
    color: #5b6871;
  }
}
.icon-points {
  &:before {
    content: $icon-points;     
    color: #b3bac5;
  }
}
.icon-track {
  &:before {
    content: $icon-track;     
    color: #f2994a;
  }
}
.icon-call-center {
  &:before {
    content: $icon-call-center;     
    color: #f2994a;
  }
}
.icon-attach {
  &:before {
    content: $icon-attach;     
    color: #84919a;
  }
}
.icon-calender {
  &:before {
    content: $icon-calender;     
    color: #8f95b2;
  }
}
.icon-clock-1 {
  &:before {
    content: $icon-clock-1;     
    color: #84919a;
  }
}
.icon-home {
  &:before {
    content: $icon-home;     
    color: #84919a;
  }
}
.icon-compline {
  &:before {
    content: $icon-compline;     
    color: #f2994a;
  }
}
.icon-newspaper .path1 {
  &:before {
    content: $icon-newspaper-path1;  
  }
}
.icon-newspaper .path2 {
  &:before {
    content: $icon-newspaper-path2;  
    margin-left: -1em;  
    color: rgb(240, 247, 254);
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;     
    color: #eb5757;
  }
}
.icon-play-button .path1 {
  &:before {
    content: $icon-play-button-path1;  
    color: rgb(50, 190, 166);
  }
}
.icon-play-button .path2 {
  &:before {
    content: $icon-play-button-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-setting {
  &:before {
    content: $icon-setting;     
    color: #5b6871;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;     
    color: #5b6871;
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel; 
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip;     
    color: #84919a;
  }
}
.icon-chat {
  &:before {
    content: $icon-chat;     
    color: #f2994a;
  }
}
.icon-filter {
  &:before {
    content: $icon-filter;     
    color: #5b6871;
  }
}
.icon-file {
  &:before {
    content: $icon-file;     
    color: #f2994a;
  }
}
.icon-see .path1 {
  &:before {
    content: $icon-see-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-see .path2 {
  &:before {
    content: $icon-see-path2;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-see .path3 {
  &:before {
    content: $icon-see-path3;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-see .path4 {
  &:before {
    content: $icon-see-path4;  
    margin-left: -1em;  
    color: rgb(107, 165, 243);
  }
}
.icon-see .path5 {
  &:before {
    content: $icon-see-path5;  
    margin-left: -1em;  
    color: rgb(107, 165, 243);
  }
}
.icon-see .path6 {
  &:before {
    content: $icon-see-path6;  
    margin-left: -1em;  
    color: rgb(240, 247, 254);
  }
}
.icon-see .path7 {
  &:before {
    content: $icon-see-path7;  
    margin-left: -1em;  
    color: rgb(240, 247, 254);
  }
}
.icon-see .path8 {
  &:before {
    content: $icon-see-path8;  
    margin-left: -1em;  
    color: rgb(240, 247, 254);
  }
}
.icon-see .path9 {
  &:before {
    content: $icon-see-path9;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-see .path10 {
  &:before {
    content: $icon-see-path10;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-see .path11 {
  &:before {
    content: $icon-see-path11;  
    margin-left: -1em;  
    color: rgb(107, 165, 243);
  }
}
.icon-info .path1 {
  &:before {
    content: $icon-info-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-info .path2 {
  &:before {
    content: $icon-info-path2;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-info .path3 {
  &:before {
    content: $icon-info-path3;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-char .path1 {
  &:before {
    content: $icon-char-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-char .path2 {
  &:before {
    content: $icon-char-path2;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-group-15 .path1 {
  &:before {
    content: $icon-group-15-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-group-15 .path2 {
  &:before {
    content: $icon-group-15-path2;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-group-15 .path3 {
  &:before {
    content: $icon-group-15-path3;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-group-15 .path4 {
  &:before {
    content: $icon-group-15-path4;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-group-15 .path5 {
  &:before {
    content: $icon-group-15-path5;  
    margin-left: -1.02734375em;  
    color: rgb(249, 207, 207);
  }
}
.icon-group-15 .path6 {
  &:before {
    content: $icon-group-15-path6;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-group-15 .path7 {
  &:before {
    content: $icon-group-15-path7;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-group-15 .path8 {
  &:before {
    content: $icon-group-15-path8;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-group-15 .path9 {
  &:before {
    content: $icon-group-15-path9;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-group-15 .path10 {
  &:before {
    content: $icon-group-15-path10;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-group-15 .path11 {
  &:before {
    content: $icon-group-15-path11;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-group-15 .path12 {
  &:before {
    content: $icon-group-15-path12;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-loop .path1 {
  &:before {
    content: $icon-loop-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-loop .path2 {
  &:before {
    content: $icon-loop-path2;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-loop .path3 {
  &:before {
    content: $icon-loop-path3;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-loop .path4 {
  &:before {
    content: $icon-loop-path4;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-trash .path1 {
  &:before {
    content: $icon-trash-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-trash .path2 {
  &:before {
    content: $icon-trash-path2;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-trash .path3 {
  &:before {
    content: $icon-trash-path3;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-trash .path4 {
  &:before {
    content: $icon-trash-path4;  
    margin-left: -1em;  
    color: rgb(240, 247, 254);
  }
}
.icon-trash .path5 {
  &:before {
    content: $icon-trash-path5;  
    margin-left: -1em;  
    color: rgb(47, 128, 237);
  }
}
.icon-road .path1 {
  &:before {
    content: $icon-road-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-road .path2 {
  &:before {
    content: $icon-road-path2;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-road .path3 {
  &:before {
    content: $icon-road-path3;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-road .path4 {
  &:before {
    content: $icon-road-path4;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-road .path5 {
  &:before {
    content: $icon-road-path5;  
    margin-left: -1.02734375em;  
    color: rgb(240, 247, 254);
  }
}
.icon-road .path6 {
  &:before {
    content: $icon-road-path6;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-road .path7 {
  &:before {
    content: $icon-road-path7;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-help .path1 {
  &:before {
    content: $icon-help-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-help .path2 {
  &:before {
    content: $icon-help-path2;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-help .path3 {
  &:before {
    content: $icon-help-path3;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-help .path4 {
  &:before {
    content: $icon-help-path4;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-help .path5 {
  &:before {
    content: $icon-help-path5;  
    margin-left: -1.02734375em;  
    color: rgb(247, 248, 244);
  }
}
.icon-help .path6 {
  &:before {
    content: $icon-help-path6;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-rain .path1 {
  &:before {
    content: $icon-rain-path1;  
    color: rgb(240, 247, 254);
  }
}
.icon-rain .path2 {
  &:before {
    content: $icon-rain-path2;  
    margin-left: -1.02734375em;  
    color: rgb(47, 128, 237);
  }
}
.icon-statistics {
  &:before {
    content: $icon-statistics;     
    color: #f2994a;
  }
}
.icon-repeat {
  &:before {
    content: $icon-repeat;     
    color: #f2994a;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;     
    color: #b3bac5;
  }
}
.icon-search {
  &:before {
    content: $icon-search;     
    color: #b0babf;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-switcher {
  &:before {
    content: $icon-switcher;     
    color: #f2994a;
  }
}
.icon-missed-call-1 {
  &:before {
    content: $icon-missed-call-1;     
    color: #f2994a;
  }
}
.icon-left-arrow {
  &:before {
    content: $icon-left-arrow; 
  }
}
.icon-visibility {
  &:before {
    content: $icon-visibility;     
    color: #f2994a;
  }
}
.icon-invisible {
  &:before {
    content: $icon-invisible;     
    color: #ff9433;
  }
}

