$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../assets/fonts" !default;

$icon-user-solid-circle: "\e94c";
$icon-points: "\e951";
$icon-track: "\e952";
$icon-call-center: "\e950";
$icon-attach: "\e94d";
$icon-calender: "\e94e";
$icon-clock-1: "\e94f";
$icon-home: "\e900";
$icon-compline: "\e901";
$icon-newspaper-path1: "\e902";
$icon-newspaper-path2: "\e903";
$icon-phone: "\e904";
$icon-play-button-path1: "\e905";
$icon-play-button-path2: "\e906";
$icon-setting: "\e907";
$icon-bell: "\e908";
$icon-cancel: "\e909";
$icon-paperclip: "\e90a";
$icon-chat: "\e90b";
$icon-filter: "\e90c";
$icon-file: "\e90d";
$icon-see-path1: "\e90e";
$icon-see-path2: "\e90f";
$icon-see-path3: "\e910";
$icon-see-path4: "\e911";
$icon-see-path5: "\e912";
$icon-see-path6: "\e913";
$icon-see-path7: "\e914";
$icon-see-path8: "\e915";
$icon-see-path9: "\e916";
$icon-see-path10: "\e917";
$icon-see-path11: "\e918";
$icon-info-path1: "\e919";
$icon-info-path2: "\e91a";
$icon-info-path3: "\e91b";
$icon-char-path1: "\e91c";
$icon-char-path2: "\e91d";
$icon-group-15-path1: "\e91e";
$icon-group-15-path2: "\e91f";
$icon-group-15-path3: "\e920";
$icon-group-15-path4: "\e921";
$icon-group-15-path5: "\e922";
$icon-group-15-path6: "\e923";
$icon-group-15-path7: "\e924";
$icon-group-15-path8: "\e925";
$icon-group-15-path9: "\e926";
$icon-group-15-path10: "\e927";
$icon-group-15-path11: "\e928";
$icon-group-15-path12: "\e929";
$icon-loop-path1: "\e92a";
$icon-loop-path2: "\e92b";
$icon-loop-path3: "\e92c";
$icon-loop-path4: "\e92d";
$icon-trash-path1: "\e92e";
$icon-trash-path2: "\e92f";
$icon-trash-path3: "\e930";
$icon-trash-path4: "\e931";
$icon-trash-path5: "\e932";
$icon-road-path1: "\e933";
$icon-road-path2: "\e934";
$icon-road-path3: "\e935";
$icon-road-path4: "\e936";
$icon-road-path5: "\e937";
$icon-road-path6: "\e938";
$icon-road-path7: "\e939";
$icon-help-path1: "\e93a";
$icon-help-path2: "\e93b";
$icon-help-path3: "\e93c";
$icon-help-path4: "\e93d";
$icon-help-path5: "\e93e";
$icon-help-path6: "\e93f";
$icon-rain-path1: "\e940";
$icon-rain-path2: "\e941";
$icon-statistics: "\e942";
$icon-repeat: "\e943";
$icon-edit: "\e944";
$icon-search: "\e945";
$icon-plus: "\e946";
$icon-switcher: "\e947";
$icon-missed-call-1: "\e948";
$icon-left-arrow: "\e949";
$icon-visibility: "\e94a";
$icon-invisible: "\e94b";

